/* ===========================
   12SM Helper Classes
   =========================== */

.left {
  text-align:left!important;
}

.right {
  text-align:right!important;
}

.center {
  text-align:center!important;
}

.no-padding {
  padding:0px!important;
}

.no-margin {
  margin:0!important;
}

.no-margin-top {
  margin-top:0!important;
}

.container-fluid {
  padding: 0;
}

.btn-info {
  padding: 5px 10px;
}

.btn-info a {
  color:#FFF;
  font-weight:bold;
  font-size:14px;
  text-decoration:none;
}

.btn-info a:hover {
  text-decoration:none;
}

input[type="email"],
input[type="url"],
input[type="password"],
input[type="text"],
textarea {
  height: 32px;
  padding: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  width: 100%;
}



/* ===========================
   Nav / Knowledge Center
   =========================== */

/* Mobile nav */

ul#acc-menu5 {
  background-color: #D5D6D2;
  padding: 0;
}

ul#acc-menu5 li {
  line-height: 1;
  width: 100%;
}

ul#acc-menu5 li a {
  padding: 15px 20px!important;
  width: 100%;
  font-size: 12px;
  display: inline-block;
}

ul#acc-menu5 li a:hover {
  background: #a79867;
  color: #FFF;
  text-shadow: none;
  text-decoration: none;
}

.mobile-nav-break {
  height: 10px;
  box-shadow: inset -2px 0 2px 3px rgba(000,000,000,.1)!important;
  -webkit-box-shadow: inset -2px 0 2px 3px rgba(000,000,000,.1)!important;
  -moz-box-shadow: inset -2px 0 2px 3px rgba(000,000,000,.1)!important;
  width: 110%;
}

.mobile-nav {
  overflow:hidden;
}

ul.surgeon-out li.nav-about {
  -webkit-box-shadow: 0 .5px 0 0px #D4D5D1;
  box-shadow: 0 .5px 0 0px #D4D5D1;
}

/* Other Nav */

ul#acc-menu6 {
  background-color: #D5D6D2;
  padding: 0;
}

ul#acc-menu6 li {
  line-height: 1;
  width: 100%;
  box-shadow:none;
}

ul#acc-menu6 li a {
  padding: 15px 20px!important;
  width: 100%;
  font-size: 12px;
  display: inline-block;
}

ul#acc-menu6 li a:hover {
  background: #a79867;
  color: #FFF;
  text-shadow: none;
  text-decoration: none;
}

ul.list-unstyled.nav_list li:first-child {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

li.nav-knowledge-center, li.nav-calendar {
  list-style: none;
  -webkit-box-shadow: 0 0 2px 3px rgba(000,000,000,.1);
  -moz-box-shadow: 0 0 2px 3px rgba(000,000,000,.1);
  box-shadow: 0 1px 2px -1px rgba(000,000,000,.1);
}

li.nav-knowledge-center {
  list-style: none;
  -webkit-box-shadow: -2px 3px 2px 0 rgba(000,000,000,.1)!important;
  -moz-box-shadow: -2px 3px 2px 0 rgba(000,000,000,.1)!important;
  box-shadow: -2px 3px 2px 0 rgba(000,000,000,.1)!important;
  margin-bottom: 10px;
}

li.nav-home {
  list-style: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow:none!important;
  margin-bottom:0px
}

ul.nav_list li:nth-child(2) {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

ul.nav_list.vet-out li:nth-child(2),
ul.nav_list.surgeon-out li:nth-child(2),
ul.nav_list.nurse-out li:nth-child(2) {
  display:none;
}

ul.list-unstyled.nav_list li.nav-foot-ankle {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}



/* Surgeon Ed Logged Out */

.surgeon-out li.nav-home a {
  -webkit-box-shadow: -2px 2px 3px 0 rgba(000,000,000,.2)!important;
  -moz-box-shadow: -2px 2px 3px 0 rgba(000,000,000,.2)!important;
  box-shadow: -2px 2px 3px 0 rgba(000,000,000,.2)!important;
  margin-bottom: 10px;
}

ul.dropdown-menu.mobile-nav li.sub-nav a {
  white-space: pre-wrap;
}



/* ===========================
   MY ASSIGNMENTS
   =========================== */

/* ------ RESIDENT ------- */

.padding-wrap {
  padding: 0px 15px;
}

.current-assignments h2, .past-assignments h2 {
  text-shadow:none;
}

.current-assignments {
  margin-top:10px;
}

span.assignment-heading {
  color: #000!important;
  font-size: 12px!important;
  font-weight: 200;
  letter-spacing: -0.2px;
  font-size: 10px;
}

.percentage-complete {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #1e1e1e;
}

p.course_contents, .tiny-grey {
  margin-top: 5px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  color: #A7A8AA;
  font-size: 12px;
  padding: 0;
  font-weight:100;
}

span.assignment-heading {
  color: #000!important;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: -0.2px;
  font-size: 10px;
}

.current-assignments h3.course_description {
  text-shadow: 0 1px 0 rgba(255,255,255,.6)!important;
}

hr {
  box-shadow: 0 -1px 0 0px rgba(21,21,21,.05);
}

p.calendar_date {
  font-size: 20px!important;
}

.cal-completed p.calendar_date {
  color: #A7A8AA!important;
}

.cal-completed .calendar_month {
  font-weight: 100;
  background:#A7A8AA;
  text-shadow: 0 -1px 0 #A7A8AA;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#D2D3CF),to(#A7A8AA));
  background-image: -webkit-linear-gradient(#D2D3CF,#A7A8AA);
  background-image: -moz-linear-gradient(#D2D3CF,#A7A8AA),-moz-linear-gradient(#D2D3CF,#A7A8AA);
  background-image: -o-linear-gradient(#D2D3CF,#A7A8AA),-o-linear-gradient(#D2D3CF,#A7A8AA);
  background-image: linear-gradient(#D2D3CF,#A7A8AA),linear-gradient(#D2D3CF,#A7A8AA);
}

.past-assignments {
  margin-top: 24px;
}


/* --- Chief Resident --- */

.tabs-section {
  background: #FFF;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: .1px;
  margin-left: 0;
  margin-right: 0;

}
.resident-tab, .admin-tab {
  padding: 15px 0px;

}

.tabs-section .active {
  border-bottom:2px solid gold;
}

.tabs-section .active {
  border-bottom: 4px solid #A89968;
}

.tabs-section .active a {
  color: #A89968;
}



/* ================================
   MY ASSIGNMENTS > SHOW RANDOM
   ================================ */

/* Modals */

.modal .btn.btn-info,
.modal .btn-black {
  padding: 10px;
  height: auto;
  width: 80px;
  float:right;
}

.btn-black {
  color: #fff;
  border-color: #4C4C4C;
  border-top: 2px solid #353535;
  border-bottom: 2px solid #4C4C4C;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#4C4C4C),to(#353535));
  background-image: -webkit-linear-gradient(#4C4C4C,#9c8d5a);
  background-image: -moz-linear-gradient(#4C4C4C,#353535),-moz-linear-gradient(#353535,#353535);
  background-image: -o-linear-gradient(#4C4C4C,#353535),-o-linear-gradient(#353535,#353535);
  background-image: linear-gradient(#4C4C4C,#353535),linear-gradient(#353535,#353535);
  background-position: 0 0,100% 0;
  background-repeat: no-repeat;
}

.btn-black:hover {
  color: #fff;
  border-color: #4C4C4C;
  border-top: 2px solid #353535;
  border-bottom: 2px solid #4C4C4C;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#353535),to(#4C4C4C));
  background-image: -webkit-linear-gradient(#353535,#4C4C4C);
  background-image: -moz-linear-gradient(#353535,#4C4C4C),-moz-linear-gradient(#4C4C4C,#4C4C4C);
  background-image: -o-linear-gradient(#353535,#4C4C4C),-o-linear-gradient(#4C4C4C,#4C4C4C);
  background-image: linear-gradient(#353535,#4C4C4C),linear-gradient(#4C4C4C,#4C4C4C);
  background-position: 0 0,100% 0;
  background-repeat: no-repeat;
}


/* ------ RESIDENT ------- */

.name-assignment h3,
.pho-show h3 {
  color: #4d4f53;
  margin: 10px 0px 0px 0px;
}

.name-assignment h6 {
  margin: 0px;
}

.assigned-by h3 {
  color: #4d4f53;
}

.assigned-by h3 a {
  font-weight: 100;
}

h6.completed {
  color: #4d4f53;
  margin-bottom: 0;
}

.single-class {
  padding: 0px 10px;
}

.single-class h5 {
  font-size: 11px;
  margin: 5px 0px 0px 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.single-class h4 {
  color: #003c60;
  margin: 2px 0px 10px 0px;
}

img.placeholder-image {
  width: 100%;
  height: auto;
}

.single-class p span {
  font-size: 12px;
  letter-spacing: .01px;
  line-height: 1.1;
  font-weight:bold;
  display: inline-block;
  margin-bottom: 0px;
}

.single-class p {
  margin-top: 0;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.3;
}

.single-class .flag {
  top: -11px;
  right:10px;
}

.grey-bg {
  background-color: #D8D8D6;
  padding: 0px 10px;
  background-clip: content-box;
}

.grey-bg hr:first-child {
  margin-top: 2px;
}

.grey-bg-top {
  margin-top: 10px;
}

.single-class.grey-bg .course_interaction {
  margin-bottom: 10px;
}

.grey-bg-content {
  padding-left:15px;
}


/* ================================
   MY ASSIGNMENTS > SHOW ORDERED
   ================================ */

/* ------ RESIDENT ------- */

.single-class h1 {
  color: #4D4F53;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
}



/* ================================
   Single.php
   ================================ */

.pho-show img {
  border: 1px solid rgb(223, 223, 223);
}

.course_interaction {
  margin-top: 10px;
}

.gallery-img-wrapper img {
  margin-top:0;
}

.tabs-section .pho-show {
  padding: 0;
}


/* ================================
   Manage Residents
   ================================ */

.add-a-resident button {
  height: 30px;
  padding: 4px 10px 10px 10px;
  font-weight: bold;
}

.add-a-resident input {
  height: 31px;
  width:100%;
  padding:0px 10px;
  border-radius:5px;
  border:1px solid #D4D5D1;
}

.add-a-resident input,
.add-a-resident button {
  margin:5px 0px;
}

.current-residents {
  margin-top:20px
}

.panel-default > .panel-heading,
.panel-default:nth-child(even) .panel-heading {
  background: #DCDDDA
}

.resident-panel-group span.glyphicon.icon-caret-down {
  font-size: 12px;
  color: #949696;
  display: table-cell;
  vertical-align: middle;
}

.resident-panel-group h4.panel-title p {
  display: table;
  width: 100%;
  margin-bottom: 0;
}

.resident-panel-group span.glyphicon.icon-caret-down {
  font-size: 12px;
  color: #949696;
  display: table-cell;
  vertical-align: middle;
}

.panel.panel-default {
  border-bottom: 2px solid #E7E7E7;
}

.resident-panel-group .panel-title span.tiny-grey {
  font-size: 14px;
}
.resident-panel-group .panel-body {
  padding: 10px 0px;
}

.resident-panel-group p {
  margin-bottom:0;
}

.resident-panel-group p.tiny-grey {
  margin: 0;
}

.invited-resident p {
  color: #B8B9BA;
  font-style: italic;
}


/* ===========================
   My Assignments Director
   =========================== */

.new-assignment-form h2 {
  font-weight: bold;
  font-size: 14px;
  color: #A7A8AA;
  text-transform: uppercase;
  margin-top: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.new-assignment-form input[type="text"] {
  height: 31px;
  width: 100%;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #D4D5D1;
}

.single-class input[type="number"] {
  padding: 0px 5px;
  height: 31px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #D4D5D1;
}

.new-assignment-form span.pull-right.glyphicon.icon-cal {
  padding-top: 3px;
  margin-left: 10px;
  color: #A89968;
}

.new-assignment-form textarea {
  width: 100%;
  height: 103px;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #D4D5D1;
}

.director-new-assignment input[type="checkbox"] {
  width: 20px;
  height: 14px;
}

.director-new-assignment .panel-body p {
  color: #B8B9BA;
  padding: 4px 0px;
}

.director-new-assignment .panel-body input[type="checkbox"] {
  margin-left: 20px;
}

.director-new-assignment .panel-body {
  padding:0;
}

.new-assignment-form input[type="radio"] {
  margin-right: 8px;
}

.suggested-sequence h5 {
  color: #000!important;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: -0.2px;
  font-size: 10px;
  margin-bottom: 0;
  margin-top: 20px;
}

.director-new-assignment .panel-body.not-checked p {
  color: #4D4F53;
}

.how-many-residents {
  border: 1px solid #D5D6D2;
  padding: 20px;
  text-align: left;
}

.how-many-residents h2 {
  margin-top:0;
}

.how-many-residents button.btn.btn-info {
  white-space: normal;
  height: auto;
}








/* ===========================
   MODALS
   =========================== */

h4.modal-title {
  font-size: 14px;
}

.modal-body .single-class span.pull-right.glyphicon.icon-caret-down {
  font-size: 12px;
  color: #949696;
  display: table-cell;
  vertical-align: middle;
}

.sign-in-modal .modal-footer {
  padding: 20px;
  text-align: left;
  border-top: 2px solid #a89968;
}

.modal label {
  margin-top: 0px;
  margin-bottom: 7px;
}

.modal input[type="text"] {
  margin-bottom: 20px;
}

.sign-in-modal input[type="checkbox"] {
  margin-right: 10px;
  margin-top:10px;
}

.sign-in-modal .forgot-pass-row {
  margin-top: 20px;
}

.sign-in-modal .forgot-pass-row a p {
  padding-top:12px;
}

.sign-in-modal .modal-footer p {
  margin-bottom:0;
}

.sign-in-modal .modal-dialog {
  max-width: 370px;
}

.reg-req-two .styled_radio {
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 0%;
  background: #fff;
}

.reg-req-three .dropdown {
  margin-bottom: 10px;
}

.reg-req-three .dropdown-toggle {
  height: 33px;
}

.modal input[type="email"],
.modal input[type="url"],
.modal input[type="password"],
.modal input[type="text"],
.modal textarea {
  height: 32px;
  padding: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  width: 100%;
}

.reg-req-three textarea {
  width: 100%;
  height: 70px;
}

.modal label {
  color: #A7A8AA;
  margin-top: 10px;
  margin-bottom: 5px;
}

label.dark {
  color: rgb(63, 63, 63);
}

.graduation-date input[type="text"] {
  width: 30%;
  display: inline;
}

.year-residency .dropdown {
  width: 50%;
}

span.warning p {
  color: rgb(136, 39, 46);
  font-weight: bold;
}

.radio-yes-no input[type="radio"] {
  margin-right: 10px;
}




#accordion5 li.panel, #accordion6 li.panel{
  margin-bottom: 0px;
}

/* ===========================
   MEDIA QUERIES
   =========================== */


@media only screen and (max-width:767px) {

  .container-fluid {
    padding: 0px;
  }

  .right_column {
   background: #E4E4E2!important;
  }

  .new-assignment-form h2 {
    font-size:14px;
  }

}

@media only screen and (min-width:600px) {

  .tabs-section {
    margin-top:0px;
  }

  .new-assignment-form h2 {
    font-size:14px!important;
  }

  h4.modal-title {
    font-size: 16px;
  }

}

@media only screen and (min-width: 768px) {

  .padding-wrap {
    padding: 0px 20px;
  }

  .grey-bg-content {
    padding-left: 25px;
  }

  .single-class .flag {
    right: 15px;
  }

  .container-fluid {
    padding: 0 0 0 5px;
  }

  .new-assignment-form h2 {
    font-size:14px;
  }

  h4.modal-title {
    font-size: 16px;
  }

}

@media only screen and (min-width: 1024px) {

  .padding-wrap {
    padding: 0px 25px;
  }

  .grey-bg-content {
   padding-left: 30px;
  }

  .single-class .flag {
   right: 20px;
  }

  .how-many-residents {
    margin-top: 20px;  
  }

  ul#acc-menu6 li a {
   padding: 15px 30px!important;
  }

  .new-assignment-form h2 {
    font-size:14px;
  }

  h4.modal-title {
    font-size: 24px;
  }

}

@media only screen and (min-width: 1280px) {

  .padding-wrap {
    padding: 0px 30px;
  }

  .new-assignment-form h2 {
    font-size:14px;
  }

}
