/* ===========================
   MY ASSIGNMENTS
   =========================== */

/* ------ RESIDENT ------- */

div#smt_col1Wrapper {
  padding: 0px 15px;
}

span.assignment-heading {
  color: #000!important;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: -0.2px;
  font-size: 10px;
}

.percentage-complete {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #1e1e1e;
}

p.course_contents {
  margin-top: 5px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

span.assignment-heading {
  color: #000!important;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: -0.2px;
  font-size: 10px;
}
