/* ===========================
   12SM Helper Classes
   =========================== */

.left {
  text-align:left!important;
}

.right {
  text-align:right!important;
}

.center {
  text-align:center!important;
}

.no-padding {
  padding:0px!important;
}



/* ===========================
   Nav / Knowledge Center
   =========================== */

/* Mobile nav */

ul#acc-menu5 {
  background-color: #D5D6D2;
  padding: 0;
}

ul#acc-menu5 li {
  line-height: 1;
  width: 100%;
}

ul#acc-menu5 li a {
  padding: 15px 20px!important;
  width: 100%;
  font-size: 12px;
  display: inline-block;
}

ul#acc-menu5 li a:hover {
  background: #a79867;
  color: #FFF;
  text-shadow: none;
  text-decoration: none;
}

/* Other Nav */


/* ===========================
   MY ASSIGNMENTS
   =========================== */

/* ------ RESIDENT ------- */

.padding-wrap {
  padding: 0px 15px;
}

.current-assignments h2, .past-assignments h2 {
  text-shadow:none;
}

.current-assignments {
  margin-top:10px;
}

span.assignment-heading {
  color: #000!important;
  font-size: 12px!important;
  font-weight: 200;
  letter-spacing: -0.2px;
  font-size: 10px;
}

.percentage-complete {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #1e1e1e;
}

p.course_contents, .tiny-grey {
  margin-top: 5px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  color: #A7A8AA;
  font-size: 12px;
  padding: 0;
  font-weight:100;
}

span.assignment-heading {
  color: #000!important;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: -0.2px;
  font-size: 10px;
}

.current-assignments h3.course_description {
  text-shadow: 0 1px 0 rgba(255,255,255,.6)!important;
}

hr {
  box-shadow: 0 -1px 0 0px rgba(21,21,21,.05);
}

p.calendar_date {
  font-size: 20px!important;
}

.cal-completed p.calendar_date {
  color: #A7A8AA!important;
}

.cal-completed .calendar_month {
  font-weight: 100;
  background:#A7A8AA;
  text-shadow: 0 -1px 0 #A7A8AA;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#D2D3CF),to(#A7A8AA));
  background-image: -webkit-linear-gradient(#D2D3CF,#A7A8AA);
  background-image: -moz-linear-gradient(#D2D3CF,#A7A8AA),-moz-linear-gradient(#D2D3CF,#A7A8AA);
  background-image: -o-linear-gradient(#D2D3CF,#A7A8AA),-o-linear-gradient(#D2D3CF,#A7A8AA);
  background-image: linear-gradient(#D2D3CF,#A7A8AA),linear-gradient(#D2D3CF,#A7A8AA);
}

.past-assignments {
  margin-top: 24px;
}



/* ================================
   MY ASSIGNMENTS > SHOW RANDOM
   ================================ */

/* ------ RESIDENT ------- */

.name-assignment h3 {
  color: #4d4f53;
  margin: 10px 0px 0px 0px;
}

.name-assignment h6 {
  margin: 0px;
}

.assigned-by h3 {
  color: #4d4f53;
}

.assigned-by h3 a {
  font-weight: 100;
}

h6.completed {
  color: #4d4f53;
  margin-bottom: 0;
}

.single-class {
  padding: 0px 10px;
}

.single-class h5 {
  font-size: 11px;
  margin: 5px 0px 0px 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.single-class h4 {
  color: #003c60;
  margin: 2px 0px 10px 0px;
}

img.placeholder-image {
  width: 100%;
  height: auto;
}

.single-class p span {
  font-size: 12px;
  letter-spacing: .01px;
  line-height: 1.1;
  font-weight:bold;
  display: inline-block;
  margin-bottom: 0px;
}

.single-class p {
  margin-top: 0;
  font-size: 12px;
  letter-spacing: .1px;
  line-height: 1.3;
}

.single-class .flag {
  top: -11px;
  right:10px;
}

.grey-bg {
  background-color: #D8D8D6;
  padding: 0px 10px;
  background-clip: content-box;
}

.grey-bg hr:first-child {
  margin-top: 2px;
}

.grey-bg-top {
  margin-top: 10px;
}

.single-class.grey-bg .course_interaction {
  margin-bottom: 10px;
}

.grey-bg-content {
  padding-left:15px;
}


/* ================================
   MY ASSIGNMENTS > SHOW ORDERED
   ================================ */

/* ------ RESIDENT ------- */

.single-class h1 {
  color: #4D4F53;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
















#accordion5 li.panel, #accordion6 li.panel{
  margin-bottom: 0px;
}

/* ===========================
   MEDIA QUERIES
   =========================== */


@media only screen and (max-width: 320px) {


}

@media only screen and (min-width: 768px) {

  .padding-wrap {
    padding: 0px 20px;
  }

  .grey-bg-content {
    padding-left: 25px;
  }

  .single-class .flag {
    right: 15px;
  }

}

@media only screen and (min-width: 1024px) {

  .padding-wrap {
    padding: 0px 25px;
  }

  .grey-bg-content {
   padding-left: 30px;
  }

  .single-class .flag {
   right: 20px;
  }

}

@media only screen and (min-width: 1280px) {

  .padding-wrap {
    padding: 0px 30px;
  }

}
